<!doctype html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div class="main" ng-controller="MainController">
        <div>
            <h1>{{ chromeName }}</h1>
            <!--array stuff
            <div ng-repeat="product in products" class="col-md-6">
                <div class="thumbnail">
                    <img ng-src="{{ product.cover }}">
                    <p class="title">{{ product.name }}</p>
                    <p class="price">{{ product.price | currency }}</p>
                    <div class="rating">
                        <p class="likes" ng-click="plusOne($index)">{{product.likes}}</p>
                        <p class="dislikes" ng-click="minusOne($index)"> {{ product.dislikes }}</p>
                    </div>
                        <p class="date">{{ product.pubdate | date }}</p>
                    </div>
                </div>
            -->
        </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
</body>
</html>